<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles/shared-styles.html">

<dom-module id="polymux-tab">

    <template>
        <style include="shared-styles"></style>
        <style>
            :host {
                display: inline-block;
                cursor: pointer;
            }
            a {
                background-color: var(--primary-color, #333);
                color: var(--text-invert-color, #fff);
                display: inline-block;
                padding: 1rem;
                text-decoration: none;
                transition: background .2s;
                transition-delay: .1s;
            }
            a:hover {
                background-color: var(--secondary-color, #999);
            }
        </style>
        <a href="{{link}}" title$="Link to {{tabName}}">{{tabName}}</a>
    </template>

    <script>
        Polymer({
            is: "polymux-tab",
            properties: {
                tabName: {
                    type: String,
                    value: "Tab"
                },
                link: {
                    type: String
                },
                level: {
                    type: String
                },
                notify: {
                    type: String
                },
                notifyMessage: {
                    type: String
                }
            },
            listeners: {
                'tap': 'sendNotification'
            },
            sendNotification: function(e) {
                if(!e.target.closest('polymux-tab').hasAttribute('link')) {
                    e.preventDefault();
                    this.fire('sendNotification', {
                        level: this.level,
                        notify: this.notify,
                        notifyMessage: this.notifyMessage
                    });
                }
            }
        });
    </script>

</dom-module>
