<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="polymux-tab">
    <style>
        :host {
            display: inline-block;
        }
        a {
            background-color: var(--primary-color);
            color: var(--text-invert-color);
            display: inline-block;
            padding: 1rem;
            text-decoration: none;
            transition: background .2s;
            transition-delay: .1s;
        }
        a:hover {
            background-color: var(--secondary-color);
        }
    </style>

    <template>
        <a href="{{link}}" title="Link to {{tabName}}">{{tabName}}</a>
    </template>

    <script>
        Polymer({
            is: "polymux-tab",
            properties: {
                tabName: {
                    type: String,
                    value: "Tab"
                },
                link: {
                    type: String,
                    value: "index.html"
                }
            }
        });
    </script>

</dom-module>
