<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="polymux-block">
    <style>
        section {
            padding: 1rem;
            margin-bottom: 1rem;
        }
        .block-item {
            flex-direction: row;
        }
        .block-item ::content > * {
            padding: .5rem;
            flex: 1;
        }
        .block-item ::content > *:first-child {
            padding-left: 0;
        }
        .block-item ::content > *:last-child {
            padding-right: 0;
        }
        @media screen and (min-width: 48rem) {
            .block-item {
                display: flex;
            }
        }
    </style>

    <template>
        <section>
            <template is="dom-if" if="{{title}}">
                <h2>{{title}}</h2>
            </template>
            <div class="block-item" style$="justify-content: {{distribution}}; flex-direction: {{direction}};" >
                <content></content>
            </div>
        </section>
    </template>

    <script>
        Polymer({
            is: "polymux-block",
            properties: {
                title: {
                    type: String
                },
                distribution: {
                    type: String,
                    value: "flex-start"
                },
                direction: {
                    type: String,
                    value: "column"
                }
            }
        });
    </script>

</dom-module>
