<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles/shared-styles.html">

<dom-module id="polymux-logo">

    <template>
        <style include="shared-styles"></style>
        <style>
            a {
                color: var(--secondary-color, #fff);
                text-decoration: none;
                display: block;
            }
            img {
                height: 100%;
                width: 100%;
            }

            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin: 0;
            }
        </style>
        <a href="{{link}}">
            <template is="dom-if" if="{{imageUrl}}">
                <img src="{{imageUrl}}" alt="{{title}}" />
            </template>
            <template is="dom-if" if="{{title}}">
                <h1>{{title}}</h1>
            </template>
        </a>
    </template>

    <script>
        Polymer({
            is: "polymux-logo",
            properties: {
                imageUrl: {
                    type: String,
                },
                title: {
                    type: String,
                },
                link: {
                    type: String,
                    value: "index.html"
                }
            }
        });
    </script>

</dom-module>
