html,
body {
    font-family: 'Kalam', cursive;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

@keyframes dropdownFade {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
}
