<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles/shared-styles.html">

<dom-module id="polymux-button">

    <template>
        <style include="shared-styles"></style>
        <style>
            :host {
                flex-grow: 0 !important;
                cursor: pointer;
            }

            a {
                background: var(--primary-color);
                border-radius: 4px;
                display: inline-block;
                padding: 1rem 2rem;
                color: var(--text-invert-color);
            }

            a.success {
                background: var(--success-color);
            }

            a.warning {
                background: var(--warning-color);
            }

            a.error {
                background: var(--error-color);
            }
        </style>
        <a href$="{{link}}" class$="{{level}}" title="{{title}}">{{title}}</a>
    </template>

    <script>
        Polymer({
            is: "polymux-button",
            properties: {
                title: {
                    type: String,
                    value: "button"
                },
                level: {
                    type: String
                },
                notify: {
                    type: String
                },
                link: {
                    type: String
                },
                notifyMessage: {
                    type: String
                }
            },
            listeners: {
                'tap': 'sendNotification'
            },
            sendNotification: function(e) {
                e.preventDefault();
                this.fire('sendNotification', {
                    level: this.level,
                    notify: this.notify,
                    notifyMessage: this.notifyMessage
                });
            }
        });
    </script>
</dom-module>
