<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="navigation-bar/navigation-bar.html">
<link rel="import" href="logo/logo.html">
<link rel="import" href="navigation-bar/tab.html">
<link rel="import" href="container/container.html">
<link rel="import" href="block/block.html">
<link rel="import" href="image/image.html">
<link rel="import" href="paragraph/paragraph.html">
<link rel="import" href="notification/notification.html">
<link rel="import" href="button/button.html">

<dom-module id="polymux-app">

    <style>
        :host {
            --primary-color: #3465a4;
            --secondary-color: #ad7fa8;
            --text-color: #000;
            --text-invert-color: #fff;
            --success-color: #73d216;
            --warning-color: #fcaf3e;
            --error-color: #cc0000;
        }
    </style>
    <template>
        <polymux-notification level="error">
            'I can't help it,'
        </polymux-notification>
        <polymux-navigation-bar distribution="space-between">
            <polymux-logo project-name="polymux"></polymux-logo>
            <nav>
                <polymux-tab tab-name="Discover"></polymux-tab>
                <polymux-tab tab-name="Projects" link="index.html"></polymux-tab>
                <polymux-tab tab-name="Profile" link="index.html"></polymux-tab>
            </nav>
        </polymux-navigation-bar>
        <polymux-container>
            <polymux-block title="Header" direction="row">
                <polymux-image url="https://unsplash.it/200/300" width="200" height:"300"></polymux-image>
                <polymux-paragraph>
                    'I can't help it,' said Alice very meekly: 'I'm growing.' 'You've no right to grow here,' said the Dormouse. 'Don't talk nonsense,' said Alice more boldly: 'you know you're growing  too.' 'Yes, but I grow at a reasonable pace,' said the Dormouse: 'not in
                </polymux-paragraph>
                <polymux-image type="people"></polymux-image>
            </polymux-block>
            <polymux-block>
                <polymux-button title="Test" type="warning" notify="polymux-notification"></polymux-button>
            </polymux-block>
        </polymux-container>
    </template>

    <script>
        Polymer({
            is: "polymux-app",
            listeners: {
                'sendNotification': '_dispatchNotification'
            },
            _dispatchNotification: function(e) {
                var element = e.detail.notify;
                var fn = document.querySelector(element)['toggle']();
                if(typeof fn === "function") {
                    fn();
                }
            }
        });
    </script>

</dom-module>
