<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="polymux-app">
    <template>
        <content></content>
    </template>

    <script>
        Polymer({
            is: "polymux-app",
            listeners: {
                'sendNotification': '_dispatchNotification'
            },
            _dispatchNotification: function(e) {
                var element = e.detail.notify;
                var fn = document.querySelector(element)['toggle'](e.detail);
                if(typeof fn === "function") {
                    fn();
                }
            }
        });
    </script>

</dom-module>
