<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles/shared-styles.html">

<dom-module id="polymux-paragraph">

    <template>
        <style include="shared-styles"></style>
        <style>
            a {
                color: var(--text-color);
            }
        </style>
        <template is="dom-if" if="{{link}}">
            <a href="{{link}}" title="Link to {{link}}">
                <content></content>
            </a>
        </template>
        <template is="dom-if" if="{{!link}}">
            <content></content>
        </template>
    </template>

    <script>
        Polymer({
            is: "polymux-paragraph",
            restamp: true,
            properties: {
                link: {
                    type: String,
                    value:""
                },
            }
        });
    </script>

</dom-module>
