<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="polymux-notification">

    <template>
        <style>
            :host {
                display: none;
                position: absolute;
                top: 0;
                width: 100%;
            }

            :host.visible {
                display: block;
            }
            div {
                background: var(--secondary-color);
                opacity: .9;
                display: flex;
                padding: 2rem;
            }
            .text {
                flex: 1;
                color: var(--text-invert-color);
                text-align: center;
            }

            .close {
                display: inline-block;
                margin-left: auto;
                cursor: pointer;
            }

            .success {
                background: var(--success-color);
            }

            .warning {
                background: var(--warning-color);
            }

            .error {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: var(--error-color);
                font-size: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        </style>
        <div class$="{{level}}">
            <span class="text">{{message}}</span>
            <a href="#" on-click="toggle" class="close">Close</span>
        </div>
    </template>

    <script>
        Polymer({
            is: "polymux-notification",
            properties: {
                level: {
                    type: String
                },
                message: {
                    type: String,
                    value: ""
                },
                display: {
                    type: String,
                }
            },
            attached: function() {
                if(this.getAttribute('display') === 'visible') {
                   this.toggleClass('visible');
                }
            },
            toggle: function(detail) {
                if(detail.level) {
                    this.level = detail.level;
                    this.message = detail.notifyMessage;
                    this.toggleClass('visible');
                } else {
                    this.level = "";
                    this.message = detail.notifyMessage;
                    this.toggleClass('visible');
                }
            }
        });
    </script>

</dom-module>
